
div {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.brown{
  background-color: brown;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.purple{
  background-color: purple;
}
.yellow{
  background-color: yellow;
}
.car1 {
 background-color: #8C9C12;
}
.car2 {
 background-color: #1DA788;
}

.car1, .car2 {
    margin-left: 0;
}